<% if (title) { %>
<h1>
    <%= title %>
</h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error=> { %>
    <li>
        <%= error.msg %>
    </li>
    <% }) %>
</ul>
<% } %>

<div class="accountManagementContent">
    <h2>Welcome <%= firstName %></h2>
    <p>You're logged in.</p>

    <p><a href="/account/update/<%- locals.accountData.account_id %>">Update Account information</a></p>
    <p><a href="/account/delete/<%- locals.accountData.account_id %>">Delete Account</a></p>

    <%- invManageLink %>
</div>