<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>


                    <form class="registerForm forms" action="/account/register" method="post">
                        <p>*** ALL FIELDS ARE REQUIRED ***</p>
                        <div>
                            <label for="fName">First name: </label>
                            <input type="text" id="fName" name="account_firstname" required
                                value="<%= locals.account_firstname %>">
                        </div>
                        <div>
                            <label for="lName">Last name: </label>
                            <input type="text" id="lName" name="account_lastname" required
                                value="<%= locals.account_lastname %>">
                        </div>
                        <div>
                            <label for="email">Email: </label>
                            <input type="email" id="email" name="account_email" required
                                value="<%= locals.account_email %>">
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="account_password" required
                                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                            <p>Password must include: </p>
                            <ul id="passReq">
                                <li>At least 12 characters</li>
                                <li>At least 1 uppercase letter</li>
                                <li>At least 1 number</li>
                                <li>At least 1 special character</li>
                            </ul>
                            <button type="button" id="showPassBtn">Show Password</button>
                        </div>
                        <input class="register-button" type="submit" value="Register">
                    </form>